.explore-page-container {
	padding: 0 !important;
	background-color: #ECE9E1;
	min-height: 100vh;
	
	.explore-page-main-outer {
		height: auto;
	}

	.headline {
		margin-top: 30px !important;
		color: grey;
		text-align: left;
	}
}

.carousel {
	width: 90%;
	margin: 0 auto;

	.slide-container {
		height: 300px;
		width: 200px;
		padding: 5px;
		position: relative;

		.slide-background {
			position: absolute;
			height: 100%;
			width: 100%;
		}

		.slide-info {
			height: 100%;
			width: 100%;
			position: absolute;
			z-index: 1;
			background: rgba(0, 0, 0, 0.3);
			color: white;
			text-align: left;

			.text {
				position: absolute;
				bottom: 0;
				padding: 5px;
				padding-bottom: 20px;
				opacity: 1 !important;
			}

			.slide-header {
				color: white;
			}
		}
	}
}


.category-cards {
	padding: 10px !important;

	.category-card {
		width: 100%;
		height: auto;
		background-color: #FBFBF7 !important;

		.card-divider {
			border-color: #F5A623 !important;
		}

		p {
			font-weight: 100;
		}
	}
}